@page
@model SportEU.Pages.GroupsPage
@using SportEU.Core.Extensions
@{
    ViewData["Page"] = "Groups";
    Layout = "_Index";
}
<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.Name, Model)
            @Html.TableSortHeader(x => x.Item.CoachName, Model)
            @Html.TableSortHeader(x => x.Item.Speciality, Model)
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Items) {
        <tr>
            @Html.RowData(x => i.Name)
            @Html.RowData(x => i.CoachName)
            @Html.RowData(x => i.Speciality)
            @Html.RowButtons(Model.PageUrl, $"{i.Id}")
        </tr>
    }
    </tbody>
</table>