@page
@model SportEU.Pages.AthletesPage
@using SportEU.Core.Extensions

@{
    Layout = "_Index";
}


<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.FirstMidName, Model)
            @Html.TableSortHeader(x => x.Item.LastName, Model)
            @Html.TableSortHeader(x => x.Item.Age, Model)
            @Html.TableSortHeader(x => x.Item.ValidFrom, Model)
            @Html.TableSortHeader(x => x.Item.Strength, Model)
            @Html.TableHeader(x => x.Item.PhotoAsString)
            <th>Groups</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Items) {

        string selectedRow = "";

        <tr class="@selectedRow">
            @Html.RowData(x => i.FirstMidName)
            @Html.RowData(x => i.LastName)
            @Html.RowData(x => i.Age)
            @Html.RowData(x => i.ValidFrom)
            @Html.RowData(x => i.Strength)
            @Html.RowImage(i.PhotoAsString)
            <td>
                @foreach (var group in i.AthleteGroups)
                {
                    @group.Name
                    <br />
                }
            </td>
            @Html.RowButtons(Model.PageUrl, $"{i.Id}", "Select")
        </tr>
    }
    </tbody>

</table>
