@page
@model SportEU.Pages.Athletes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].GroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].CoachId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AthleteData[0].RowVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AthleteData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
