@page
@model SportEU.Pages.AthletesPage
@using SportEU.Core.Extensions

@{
    Layout = "_Index";
}


<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(x => x.Item.FirstMidName)
            @Html.TableHeader(x => x.Item.LastName)
            @Html.TableHeader(x => x.Item.StartingDate)
            @Html.TableHeader(x => x.Item.Strength)
            <th>Groups</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Items) {

        string selectedRow = "";

        <tr class="@selectedRow">
            @Html.RowData(x => i.FirstMidName)
            @Html.RowData(x => i.LastName)
            @Html.RowData(x => i.StartingDate)
            @Html.RowData(x => i.Strength)
            <td>
                @foreach (var course in i.AthleteGroups)
                {
                    @course.Name
                    <br />
                }
            </td>
            @Html.RowButtons(Model.PageUrl, $"{i.Id}", "Select")
        </tr>
    }
    </tbody>

</table>
