@page
@model SportEU.Pages.AthletesPage
@using SportEU.Core.Extensions

@{
    Layout = "_Index";
}


@*<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(x => x.Item.LastName)
            @Html.TableHeader(x => x.Item.FirstMidName)
           @Html.TableHeader(x => x.Item.StartingDate)
            @Html.TableHeader(x => x.Item.Strength)
            @Html.TableHeader(x => x.Item.GroupName)
            @Html.TableHeader(x => x.Item.CoachName)
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Items) {
        <tr>
            @Html.RowData(x => i.LastName)
            @Html.RowData(x => i.FirstMidName)
            @Html.RowData(x => i.StartingDate)
            @Html.RowData(x => i.Strength)
            @Html.RowData(x => i.GroupName)
            @Html.RowData(x => i.CoachName)
            @Html.RowButtons(Model.PageUrl, $"{i.Id}")
        </tr>
    }
    </tbody>

</table>*@
