@page
@model SportEU.Pages.CoachesPage
@using SportEU.Core.Extensions

@{
    ViewData["Page"] = "Coaches";
    Layout = "_Index";
}


<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(x => x.Item.FirstMidName)
            @Html.TableHeader(x => x.Item.LastName)
            @Html.TableHeader(x => x.Item.ValidFrom)
            @Html.TableHeader(x => x.Item.Salary)
            @Html.TableHeader(x => x.Item.Speciality)
            @Html.TableHeader(x => x.Item.PhotoAsString)
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            @Html.RowData(x => item.FirstMidName)
            @Html.RowData(x => item.LastName)
            @Html.RowData(x => item.ValidFrom)
            @Html.RowData(x => item.Salary)
            @Html.RowData(x => item.Speciality)
            @Html.RowImage(item.PhotoAsString)
            @Html.RowButtons(Model.PageUrl, $"{ item.Id}")
        </tr>
    }
    </tbody>
</table>