@page
@model SportEU.Pages.CoachesPage
@using SportEU.Core.Extensions

@{
    ViewData["Page"] = "Coaches";
    Layout = "_Index";
}


<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.FirstMidName, Model)
            @Html.TableSortHeader(x => x.Item.LastName, Model)
            @Html.TableSortHeader(x => x.Item.Age, Model)
            @Html.TableSortHeader(x => x.Item.ValidFrom, Model)
            @Html.TableSortHeader(x => x.Item.Salary, Model)
            @Html.TableSortHeader(x => x.Item.Speciality, Model)
            @Html.TableHeader(x => x.Item.PhoneNumber)
            @Html.TableHeader(x => x.Item.PhotoAsString)
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Items) {
        <tr>
            @Html.RowData(x => i.FirstMidName)
            @Html.RowData(x => i.LastName)
            @Html.RowData(x => i.Age)
            @Html.RowData(x => i.ValidFrom)
            @Html.RowData(x => i.Salary)
            @Html.RowData(x => i.Speciality)
            @Html.RowData(x => i.PhoneNumber)
            @Html.RowImage(i.PhotoAsString)
            @Html.RowButtons(Model.PageUrl, $"{ i.Id}")
        </tr>
    }
    </tbody>
</table>